1. Update Values in Dictionaries and Lists

In [7]:
x = [ [5,2,3], [10,8,9] ] 
students = [
     {'first_name':  'Michael', 'last_name' : 'Jordan'},
     {'first_name' : 'John', 'last_name' : 'Rosales'}
]
sports_directory = {
    'basketball' : ['Kobe', 'Jordan', 'James', 'Curry'],
    'soccer' : ['Messi', 'Ronaldo', 'Rooney']
}
z = [ {'x': 10, 'y': 20} ]

In [3]:
x[1][0] = 15
x

[[5, 2, 3], [15, 8, 9]]

In [8]:
students[0]['last_name'] = 'Bryant'
students

[{'first_name': 'Michael', 'last_name': 'Bryant'},
 {'first_name': 'John', 'last_name': 'Rosales'}]

In [9]:
sports_directory['soccer'][0] = 'Andres'
sports_directory

{'basketball': ['Kobe', 'Jordan', 'James', 'Curry'],
 'soccer': ['Andres', 'Ronaldo', 'Rooney']}

In [10]:
z[0]['y'] = 30
z

[{'x': 10, 'y': 30}]

2. Iterate Through a List of Dictionaries

In [23]:
students = [
         {'first_name':  'Michael', 'last_name' : 'Jordan'},
         {'first_name' : 'John', 'last_name' : 'Rosales'},
         {'first_name' : 'Mark', 'last_name' : 'Guillen'},
         {'first_name' : 'KB', 'last_name' : 'Tonel'}
    ]
# iterateDictionary(students) 
# should output: (it's okay if each key-value pair ends up on 2 separate lines;
# bonus to get them to appear exactly as below!)
# first_name - Michael, last_name - Jordan
# first_name - John, last_name - Rosales
# first_name - Mark, last_name - Guillen
# first_name - KB, last_name - Tonel

In [24]:
def iterateDictionary(students):
  for i in students:
    print('first_name - {}, last_name - {}'.format(i['first_name'], i['last_name']))

iterateDictionary(students)

first_name - Michael, last_name - Jordan
first_name - John, last_name - Rosales
first_name - Mark, last_name - Guillen
first_name - KB, last_name - Tonel

3. Get Values From a List of Dictionaries

In [26]:
def iterateDictionary2(key_name, some_list):
  for i in some_list:
    print(i[key_name])

In [27]:
iterateDictionary2('first_name', students)

Michael
John
Mark
KB

In [28]:

iterateDictionary2('last_name', students)

Jordan
Rosales
Guillen
Tonel

4. Iterate Through a Dictionary with List Values

In [37]:
dojo = {
   'locations': ['San Jose', 'Seattle', 'Dallas', 'Chicago', 'Tulsa', 'DC', 'Burbank'],
   'instructors': ['Michael', 'Amy', 'Eduardo', 'Josh', 'Graham', 'Patrick', 'Minh', 'Devon']
}

def printInfo(dict_list):
  for i in dict_list:
    print(len(dict_list[i]), i)
    for j in dict_list[i]:
      print(j)
    print('') # For line break
printInfo(dojo)

7 locations
San Jose
Seattle
Dallas
Chicago
Tulsa
DC
Burbank

8 instructors
Michael
Amy
Eduardo
Josh
Graham
Patrick
Minh
Devon